<h6 class="h1 mb-4" style="font-family:Calibri; font-weight:bold; color:black">Change Password</h6>
@{ 
    if (ViewBag.Notif == "") {
        <br />
    }
}
<h6 class="h6" style="font-family:Calibri; font-weight:bold; color:red; width:30%;">@ViewBag.Notif</h6>
@using (Html.BeginForm("ChangePassword", "Home", FormMethod.Post))
{
    <div class="form-label-group" style="width:30%;">
        <input type="password" id="curPassword" name="curPassword" class="form-control border-left-primary" required autofocus>
        <label for="username">Current password</label>
    </div>
    <div class="form-label-group" style="width:30%;">
        <input type="password" id="newPassword" name="newPassword" class="form-control border-left-primary" required autofocus>
        <label for="password">New password</label>
    </div>
    <div class="form-label-group" style="width:30%;">
        <input type="password" id="reEnterPassword" name="reEnterPassword" class="form-control border-left-primary" required autofocus>
        <label for="firstName">Re-enter password</label>
    </div>

    <h6 class="h6" style="font-family:Calibri; font-weight:bold; color:red; width:30%;">Note: <a style="color:red; font-weight:100">After updating your password, you will be logged out and redirected to login page after applying changes.</a></h6>
    <button class="btn btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2" type="submit" name="btn_applyChanges" id="btn_applyChanges" style="width:30%" value="YES">Apply changes</button>
}