@{
    ViewBag.Title = "This page is still in development";
}
<h2>@ViewBag.Title.</h2>

<address>
    Project Development and Research<br />
    August 2019<br />
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:matthew.fabic@nickelasia.com">matthew.fabic@nickelasia.com</a><br />
</address>
