
<h6 class="h1 mb-1 mt-5 text-center" style="font-family:Calibri; font-weight:bold; color:forestgreen">WELCOME!</h6>
<h4 class="h5 mb-4 text-center" style="font-family:Calibri; color:black">What report you want to view?</h4>

<div class="row">
    <div class="col-xl-4 col-lg-4" align="center">
        <div class="card border-bottom-success shadow h-auto p-0 m-0 border-0">
            <div class="card-body" style="padding:1rem">
                <button class="btn btn-lg btn-primary btn-block text-m font-weight-bold text-uppercase mb-0" type="submit" style="font-size:x-large; color:black; background-color:white">
                    Tonnage and Activity
                </button>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-lg-4">
        <div class="card border-bottom-primary shadow h-auto p-0 m-0 border-0">
            <div class="card-body" style="padding:1rem">
                <div class="text-m font-weight-bold text-primary text-uppercase mb-0" style="font-size:x-large">
                    Tonnage and Activity
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-lg-4">
        <div class="card border-bottom-secondary shadow h-auto p-0 m-0 border-0">
            <div class="card-body" style="padding:1rem">
                <div class="text-m font-weight-bold text-primary text-uppercase mb-0" style="font-size:x-large">
                    Tonnage and Activity
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-lg-4">
        <div class="card border-bottom-warning shadow h-auto p-0 m-0 border-0">
            <div class="card-body" style="padding:1rem">
                <div class="text-m font-weight-bold text-primary text-uppercase mb-0" style="font-size:x-large">
                    Tonnage and Activity
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-lg-4">
        <div class="card border-bottom-danger shadow h-auto p-0 m-0 border-0">
            <div class="card-body" style="padding:1rem">
                <div class="text-m font-weight-bold text-primary text-uppercase mb-0" style="font-size:x-large">
                    Tonnage and Activity
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-lg-4">
        <div class="card border-bottom-info shadow h-auto p-0 m-0 border-0">
            <div class="card-body" style="padding:1rem">
                <div class="text-m font-weight-bold text-primary text-uppercase mb-0" style="font-size:x-large">
                    Tonnage and Activity
                </div>
            </div>
        </div>
    </div>
</div>